body {
  margin: 0px;
  padding-top: 130px;
  font-weight: 300;
  font-size: 1.2em;
  color: #000;
  background-color: #efefef;
}

a {
  color: #A61C00;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #000 !important;
}

.gray-bullets ul {
  list-style: none;
}

.gray-bullets li::before {
  content: "\2022";
  color: #666;
  display: inline-block; width: 1em;
  margin-left: -1em;
}

.title {
  font-family: 'Open Sans', sans-serif;
}

.sub {
  font-size: .7em;
  color: #666;
}

.bold {
  font-weight: bold;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.icon-skill {
  width: 30px;
}
