.navbar {
  border-bottom: 1px solid #333;
  height: 90px;
}

.navbar h1 a {
  color: #000;
}

.nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 576px) {
  .nav-container {
    max-width: 570px;
  }
  .christopher {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .nav-container {
    max-width: 625px;
  }
}

@media (min-width: 992px) {
  .nav-container {
    max-width: 805px;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    max-width: 960px;
  }
}